@import "../../constants/styles.scss";
.ui_form_button {
  &--pure {
    background-color: none;
    padding: 0;
    font-size: 14px !important;
    text-decoration: underline !important;
    color: $color-background-button-primary !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}
