body{
    font-family:$font-face-main;
    min-width: 1280px;
    margin:0;
}
.app {
    font-size: $size-font-base;
    padding: $size-spacing-regular;
    width: 80%;
    margin: 0 auto;
    div.container {
        padding: 0 0 $size-spacing-huge;
    }
    .ui_form_button {
        margin-right: $size-spacing-regular;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            padding: 0 30px 0 0;
            line-height: 90px;
        }
    }
}