@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 20%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 50%);
  }
}

@mixin darken($bg) {
  background: $bg;
  background: darken($bg, 20%);
  &:hover {

    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 50%);
  }
}