@import "../../constants/styles.scss";

.ui_form_input{
  display: flex;
  label{
    color: $color-font-secondary;
    order:1;
  }
  margin-bottom:$size-spacing-regular;
  input{
    order:2;
    padding:$size-spacing-mini $size-spacing-small;
    border-radius: $shape-roundness-radius-regular;
    border:1px solid $color-background-button-default;
    &::placeholder{
      color: $color-font-hint;
    }
    &:focus{
      outline:none;
      border-color: $color-background-button-primary;
    }
  }
  &--success{
    input{
      border-color: $color-background-button-success;
    }
  }
  &--warning{
    input{
      border-color: $color-background-button-warning;
    }
  }
  &--danger{
    input{
      border-color: $color-background-button-danger;
    }
  }
}
.direction--default{
  flex-wrap: wrap;
  label{
    margin-bottom:$size-spacing-mini;
    display: block;
    width:100%;
  }
  input{
  }
}
.direction--ltr{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.ui_form_input--radio,
  &.ui_form_input--checkbox{
    justify-content: flex-start;
  }
  label{
    margin-right:$size-spacing-regular;
  }
}

.direction--rtl{
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  &.ui_form_input--radio,
  &.ui_form_input--checkbox{
    justify-content: flex-start;
  }
  label{
    order: 2;
    margin-left:$size-spacing-regular;
  }
  input{
    order: 1;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="radio"],
input[type="checkbox"]{
  @extend .visuallyhidden;
}

input[type="radio"] + label,
input[type="checkbox"] + label{
  position:relative;
  padding-left:$size-base-unit+$size-spacing-regular;
  line-height:$size-base-unit*2;
  margin-left:0;
  cursor: pointer;
  &:before,
  &:after{
    box-sizing: border-box;
    position:absolute;
    left:0;
    top:0;
    content:" ";
    display:block;
    width:$size-base-unit*2;
    height:$size-base-unit*2;
    background-color:$color-background-white;
    border:1px solid $color-background-button-default;
  }
  &:after{
    display: none;
  }
}
input[type="radio"] + label{
  &:before,
  &:after{
    border-radius: $shape-roundness-radius-circle;
  }
}
input[type="radio"]:checked + label{
  &:after{
    display: block;
    background:$color-background-button-default;
    width:$size-base-unit;
    height:$size-base-unit;
    top:$size-base-unit/2;
    left:$size-base-unit/2;
  }
}
input[type="checkbox"]:checked + label{
  &:after{
    display: block;
    background:$color-background-button-default;
    width:$size-base-unit;
    height:$size-base-unit;
    top:$size-base-unit/2;
    left:$size-base-unit/2;
  }
}

