@import "../../constants/styles.scss";

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.switchflow{
    flex-direction: column;
}
.ui_base_bg{
    &--primary{
        background-color:$color-base-brand-primary;
        &.lighten--20{
            background: lighten($color-base-brand-primary, 20%);
        }
        &.lighten--40{
            background: lighten($color-base-brand-primary, 40%);
        }
        &.lighten--60{
            background: lighten($color-base-brand-primary, 60%);
        }
        &.lighten--80{
            background: lighten($color-base-brand-primary, 80%);
        }
        &.lighten--100{
            background: lighten($color-base-brand-primary, 100%);
        }
    }
    &--secondary{
        background-color:$color-base-brand-secondary;
        &.lighten--20{
            background: lighten($color-base-brand-secondary, 20%);
        }
        &.lighten--40{
            background: lighten($color-base-brand-secondary, 40%);
        }
        &.lighten--60{
            background: lighten($color-base-brand-secondary, 60%);
        }
        &.lighten--80{
            background: lighten($color-base-brand-secondary, 80%);
        }
        &.lighten--100{
            background: lighten($color-base-brand-secondary, 100%);
        }
    }
    &--third{
        background-color:$color-base-brand-third;
        &.lighten--20{
            background: lighten($color-base-brand-third, 20%);
        }
        &.lighten--40{
            background: lighten($color-base-brand-third, 40%);
        }
        &.lighten--60{
            background: lighten($color-base-brand-third, 60%);
        }
        &.lighten--80{
            background: lighten($color-base-brand-third, 80%);
        }
        &.lighten--100{
            background: lighten($color-base-brand-third, 100%);
        }
    }

}
