@import "../../constants/styles.scss";

h1.title {
  font-size: $font-size-h1;
}
h2.title {
  font-size: $font-size-h2;
}
h3.title {
  font-size: $font-size-h3;
}
h4.title {
  font-size: $font-size-h4;
}
h5.title {
  font-size: $font-size-h5;
}
h6.title {
  font-size: $font-size-h6;
}