@import "../../constants/styles.scss";

.ui_form_button {
  color: white;
  text-decoration: none;
  padding: $size-spacing-small $size-spacing-large;
  border-radius: 3px;
  cursor: pointer;
  font-size: $size-font-base;
  line-height: $font-line-height-one;
  font-family: $font-face-main;
  text-transform: uppercase;
  border: none;
  &--default {
    @include button-bg($color-background-button-default);
  }
  &--primary {
    @include button-bg($color-background-button-primary);
  }
  &--success {
    @include button-bg($color-background-button-success);
  }
  &--danger {
    @include button-bg($color-background-button-danger);
  }
  &--warning {
    @include button-bg($color-background-button-warning);
  }
  &[disabled] {
    background-color: $color-background-button-default;
    cursor: default;
  }
}
